# APPLICATION
APP_NAME=FastShop
APP_ENV=local
APP_DEBUG=true
APP_HOST=0.0.0.0
APP_PORT=8000
APP_TIMEZONE=Asia/Tehran
APP_URL=http://127.0.0.1:8000

# DATABASE
DB_CONNECTION=postgresql
DB_DRIVER=psycopg
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=fastshop
DB_USERNAME=root
DB_PASSWORD=password

# AUTH
JWT_SECRET=your-256-bit-secret
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

# LOGGING
LOG_CHANNEL=single
LOG_STACK=single
LOG_LEVEL=INFO
