APP_NAME=FastShop
APP_ENV=local
APP_DEBUG=true
APP_HOST=0.0.0.0
APP_PORT=8000
LOG_LEVEL=INFO

# DATABASE
DB_CONNECTION=postgresql
DB_DRIVER=psycopg
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=fastapi
DB_USERNAME=
DB_PASSWORD=

# LOGGING
LOG_LEVEL=INFO
